@{
    ViewBag.Title = "Kepek";
    Layout = "~/Views/Shared/_adminLayout.cshtml";
}

<h2>Kepek</h2>

    @using (Html.BeginForm("SaveUploadedFile", "Admin", FormMethod.Post, new {enctype = "multipart/form-data", @class="dropzone dz-clickable", @id="dropzoneForm"}))
    {
        <div class="fallback">
            <input name="file" type="file" multiple />
            <input type="submit" value="Feltölt"/>
        </div>
    }

@section css
{
    @Styles.Render("~/bundles/DropZone")
}

@section scripts
{
    @Scripts.Render("~/bundles/DropZoneJS")
}
