@model IEnumerable<KissHiFi.Models.Bemutatkozas>

@{
    ViewBag.Title = "Bemutatkozás";
}

<h2>Bemutatkozás</h2>

@foreach (var item in Model) {
    <article>
        @Html.Raw(item.Tartalom)
    </article>
}